<div class="post" *ngIf="post">

  <app-page-headline [title]="post.title" [btn]="btn"></app-page-headline>

  <mat-card class="post__content">
    <mat-card-header>
      <mat-card-title>
        {{post.title}}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
        {{post.body}}
      </p>
    </mat-card-content>
  </mat-card>

  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-12">
        <app-page-headline [title]="'Comments'"></app-page-headline>
      </div>
    </div>

    <div class="row" *ngIf="comments.length > 0">
      <div class="col-12">
        <app-post-comment [comments]="comments"></app-post-comment>
      </div>
    </div>
  </div>
</div>
