<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4 col-lg-3 col-sm-6 col-12 mb-5" *ngFor="let comment of comments">
            <mat-card class="p-3">
                <mat-card-title>
                    {{ comment.name }}
                </mat-card-title>

                <mat-card-content>
                    {{ comment.body }}
                </mat-card-content>

                <mat-card-footer class="p-3">
                    {{ comment.email }}
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>
