<div class="login guest__forgot-password container-md">
  <div class="row">
    <div class="col-12">
      <h2 class="mat-title">Forgot password?</h2>
      <p>
        That's okay, it happens! <br>
        Provide your username or email and click the button below to reset your password.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="offset-lg-2 col-lg-8 col-12">
      <form class="w-100" [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- Username -->
        <div class="form-group mb-3">
          <mat-form-field class="w-100">
            <mat-label>Username or e-mail: </mat-label>
            <input type="text" matInput id="username" formControlName="username">
          </mat-form-field>
        </div>

        <!-- Login -->
        <div class="form-group mb-3">
          <button
            type="submit"
            mat-raised-button
            color="primary"
            class="w-100"
            [disabled]="form.invalid">
            Request your password
          </button>
        </div>

        <!-- Register -->
        <div class="form-group mt-5 mb-3">
          <p class="w-100 text-center">
            Already have an account?
            <a [routerLink]="['..', 'login']">Login</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
